<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Aide</title>
		<link rel="stylesheet" href="../src/CSS/aide.css">
	</head>
	<body>

		<!-- Navbar -->
		<nav>
			<a href="index.php" class="actif"><img src="../src/icons/home.png" alt="Accueil">Accueil</a>
			<a href="entreprise.php"><img src="../src/icons/entreprise.png" alt="Entreprise">Entreprise</a>
			<a href="stagiaire.php"><img src="../src/icons/stage.png" alt="Stagiaire">Stagiaire</a>
			<a href="inscription.php"><img src="../src/icons/inscrire.png" alt="Inscription">Inscription</a>
			<a href="aide.php"><img src="../src/icons/aide.png" alt="Aide">Aide</a>
			<a href="deconnexion.php"><img src="../src/icons/deconnexion.png" alt="Déconnexion">Déconnexion</a>

		</nav>

		<!-- Contenu principal -->
		<div class="content">
			<h1>Une question ? Tu es au bonne endroit</h1>
		</div>

	</body>
</html>
