<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Aide</title>
		<link rel="stylesheet" href="../src/CSS/aide.css">
	</head>
	<body>

		<!-- Navbar -->
		<nav>
			<a href="index.php" class="actif"><img src="../src/home.png" alt="Accueil">Accueil</a>
			<a href="entreprise.php"><img src="../src/entreprise.png" alt="Entreprise">Entreprise</a>
			<a href="#"><img src="../src/stage.png" alt="Stagiaire">Stagiaire</a>
			<a href="#"><img src="../src/inscrire.png" alt="Inscription">Inscription</a>
			<a href="#"><img src="../src/aide.png" alt="Aide">Aide</a>
			<a href="#"><img src="../src/deconnexion.png" alt="Déconnexion">Déconnexion</a>
			<a href="#"><img src="../src/droite.png" alt="Développer">Développer</a>
			<a href="#"><img src="../src/gauche.png" alt="Réduire">Réduire</a>
		</nav>

		<!-- Contenu principal -->
		<div class="content">
			<h1>Une question ? Tu es au bonne endroit</h1>
		</div>

	</body>
</html>
