<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../src/CSS/ajouter_entreprise.css">
	</head>
	<body>

		<!-- Navbar -->
		<nav>
			<a href="index.php" ><img src="../src/icons/home.png" alt="Accueil">Accueil</a>
			<a href="entreprise.php" class="actif"><img src="../src/icons/entreprise.png" alt="Entreprise">Entreprise</a>
			<a href="stagiaire.php"><img src="../src/icons/stage.png" alt="Stagiaire">Stagiaire</a>
			<a href="inscription.php"><img src="../src/icons/inscrire.png" alt="Inscription">Inscription</a>
			<a href="aide.php"><img src="../src/icons/aide.png" alt="Aide">Aide</a>
			<a href="deconnexion.php"><img src="../src/icons/deconnexion.png" alt="Déconnexion">Déconnexion</a>

		</nav>

		<!-- Contenu principal -->
		<div class="content">
			<h1>Ajouter une entreprise</h1>
			<form
				action="ajouter_entreprise.php" method="POST">
				<!-- Tableau 1: Information -->
				<table>
					<thead>
						<tr>
							<th colspan="2">Information</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Nom de l'entreprise</td>
							<td><input type="text" name="raison_sociale" required></td>
						</tr>
						<tr>
							<td>Nom du contact</td>
							<td><input type="text" name="nom_contact" required></td>
						</tr>
						<tr>
							<td>Nom du responsable</td>
							<td><input type="text" name="nom_resp" required></td>
						</tr>
					</tbody>
				</table>

				<!-- Tableau 2: Contact -->
				<table>
					<thead>
						<tr>
							<th colspan="2">Contact</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Rue</td>
							<td><input type="text" name="rue" required></td>
						</tr>
						<tr>
							<td>Code Postal</td>
							<td><input type="text" name="cp" required></td>
						</tr>
						<tr>
							<td>Ville</td>
							<td><input type="text" name="ville" required></td>
						</tr>
						<tr>
							<td>Téléphone</td>
							<td><input type="text" name="telephone" required></td>
						</tr>
						<tr>
							<td>Fax</td>
							<td><input type="text" name="fax" required></td>
						</tr>
						<tr>
							<td>Email</td>
							<td><input type="text" name="email" required></td>
						</tr>
					</tbody>
				</table>

				<!-- Tableau 3: Divers -->
				<table>
					<thead>
						<tr>
							<th colspan="2">Divers</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Observation</td>
							<td><input type="text" name="observation"></td>
						</tr>
						<tr>
							<td>URL du site</td>
							<td><input type="text" name="site"></td>
						</tr>
						<tr>
							<td>Niveau</td>
							<td><input type="text" name="niveau"></td>
						</tr>
					</tbody>
				</table>

				<!-- Tableau 4: Spécialité -->
				<table>
					<thead>
						<tr>
							<th colspan="2">Spécialité</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Spécialité</td>
							<td>
								<select name="specialite" required>
									<option value="SLAM">SLAM</option>
									<option value="SISR">SISR</option>
									<option value="AM">AM</option>
									<option value="SN">SN</option>
									<option value="CG">CG</option>
									<option value="NRC">NRC</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- Bouton de validation -->
				<button type="submit">Ajouter l'entreprise</button>
			</form>


		</div>
	</body>
</html></body></html>
