<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../src/CSS/ajouter_etudiant.css">
	</head>
	<body>

		<!-- Navbar -->
		<nav>
			<a href="index.php" class="actif"><img src="../src/icons/home.png" alt="Accueil">Accueil</a>
			<a href="entreprise.php"><img src="../src/icons/entreprise.png" alt="Entreprise">Entreprise</a>
			<a href="stagiaire.php"><img src="../src/icons/stage.png" alt="Stagiaire">Stagiaire</a>
			<a href="inscription.php"><img src="../src/icons/inscrire.png" alt="Inscription">Inscription</a>
			<a href="aide.php"><img src="../src/icons/aide.png" alt="Aide">Aide</a>
			<a href="deconnexion.php"><img src="../src/icons/deconnexion.png" alt="Déconnexion">Déconnexion</a>
			<a href="#"><img src="../src/icons/droite.png" alt="Développer">Développer</a>
			<a href="#"><img src="../src/icons/gauche.png" alt="Réduire">Réduire</a>
		</nav>

		<!-- Contenu principal -->
		<div class="content">
			<form action="ajouter_etudiant.php" method="POST">
				<h2>Information concernant l'étudiant</h2>

				<div class="form-group">
					<label for="nom">Nom</label>
					<input type="text" id="nom" name="nom" required>
				</div>

				<div class="form-group">
					<label for="prenom">Prénom</label>
					<input type="text" id="prenom" name="prenom" required>
				</div>

				<div class="form-group">
					<label for="login">Login</label>
					<input type="text" id="login" name="login" required>
				</div>

				<div class="form-group">
					<label for="password">Mot de passe</label>
					<input type="password" id="password" name="password" required>
				</div>

				<div class="form-group">
					<label for="classe">Classe</label>
					<select id="classe" name="classe" required>
						<option value="SIO1-SLAM">SIO1-SLAM</option>
						<option value="SIO2-SLAM">SIO2-SLAM</option>
						<option value="CG1">CG1</option>
						<option value="CG2">CG2</option>
						<option value="AM1">AM1</option>
						<option value="AM2">AM2</option>
						<option value="NRC1">NRC1</option>
						<option value="NRC2">NRC2</option>
						<option value="SN1">SN1</option>
						<option value="SN2">SN2</option>
						<option value="SIO1-SISR">SIO1-SISR</option>
						<option value="SIO2-SISR">SIO2-SISR</option>
					</select>
				</div>

				<button type="submit">Ajouter</button>
			</form>
		</div>

	</body>
</html>
