<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../src/CSS/modifier_stagiaire.css">
	</head>
	<body>

		<!-- Navbar -->
		<nav>
			<a href="index.php"><img src="../src/icons/home.png" alt="Accueil">Accueil</a>
			<a href="entreprise.php"><img src="../src/icons/entreprise.png" alt="Entreprise">Entreprise</a>
			<a href="stagiaire.php" class="actif"><img src="../src/icons/stage.png" alt="Stagiaire">Stagiaire</a>
			<a href="inscription.php"><img src="../src/icons/inscrire.png" alt="Inscription">Inscription</a>
			<a href="aide.php"><img src="../src/icons/aide.png" alt="Aide">Aide</a>
			<a href="deconnexion.php"><img src="../src/icons/deconnexion.png" alt="Déconnexion">Déconnexion</a>

		</nav>

		<!-- Contenu principal -->
		<div class="content">
			<h1>Modification des informations de l'étudiant</h1>
			<form action="update_stagiaire.php" method="POST">
				<input type="hidden" name="num_etudiant" value="{{ etudiant.num_etudiant }}">
				<table>
					<thead>
						<tr>
							<th colspan="2">Informations</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Nom</td>
							<td>
								<input type="text" name="nom_etudiant" value="{{ etudiant.nom_etudiant }}" required>
							</td>
						</tr>
						<tr>
							<td>Prénom</td>
							<td>
								<input type="text" name="prenom_etudiant" value="{{ etudiant.prenom_etudiant }}" required>
							</td>
						</tr>
						<tr>
							<td>Classe</td>
							<td>
								<input type="text" name="num_classe" value="{{ etudiant.num_classe }}">
							</td>
						</tr>
					</tbody>
				</table>
				<button type="submit">Enregistrer</button>
			</form>


		</div>
	</body>
</html>
