<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../src/CSS/rechercher_entreprise.css">
	</head>
	<body>
		<!-- Navbar -->
		<nav>
			<a href="index.php" class="actif"><img src="../src/home.png" alt="Accueil">Accueil</a>
			<a href="entreprise.php"><img src="../src/entreprise.png" alt="Entreprise">Entreprise</a>
			<a href="stagiaire.php"><img src="../src/stage.png" alt="Stagiaire">Stagiaire</a>
			<a href="#"><img src="../src/inscrire.png" alt="Inscription">Inscription</a>
			<a href="#"><img src="../src/aide.png" alt="Aide">Aide</a>
			<a href="#"><img src="../src/deconnexion.png" alt="Déconnexion">Déconnexion</a>
		</nav>

		<!-- Contenu principal -->
		<div class="content">
			<!-- Formulaire de recherche -->
			<form class="search-form" method="GET" action="entreprise_trie.php">
				<input type="text" name="nom" placeholder="Nom de l'entreprise"/>
				<select name="specialite">
					<option value="">Toutes les spécialités</option>
					<option value="SLAM">SLAM</option>
					<option value="SISR">SISR</option>
					<option value="AM">AM</option>
					<option value="SN">SN</option>
					<option value="CG">CG</option>
					<option value="NRC">NRC</option>
				</select>
				<select name="niveau">
					<option value="">Tous les niveaux</option>
					<option value="BAC+1">BAC+1</option>
					<option value="BAC+1/BAC+2">BAC+1/BAC+2</option>
					<option value="BAC+2">BAC+2</option>
				</select>
				<button type="submit">Rechercher</button>
			</form>

			<!-- Tableau des entreprises -->
			<table>
				<thead>
					<tr>
						<th>Opération</th>
						<th>Entreprise</th>
						<th>Responsable</th>
						<th>Adresse</th>
						<th>Site</th>
						<th>Spécialité</th>
					</tr>
				</thead>
			</table>
		</div>
	</body>
</html>
